html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: rgb(255,255,255);
    background: linear-gradient(55deg, rgba(255,255,255,1) 16%, rgba(208,208,208,1) 100%);
    height: 100vh;
    box-sizing: border-box;
}


/* font-family: 'Pacifico', cursive;

font-family: 'Poppins', sans-serif; */


.container {
    margin: 150px auto;
    width: 700px;
    height: 600px;
    background: #ffffff;
    -webkit-box-shadow: 10px 10px 47px -7px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 47px -7px rgba(0,0,0,0.41);
    box-shadow: 10px 10px 47px -7px rgba(0,0,0,0.41);
    display: flex;
    border-radius: 20px;
}
.left {
    background: rgb(195,34,172);
    background: linear-gradient(0deg, rgba(195,34,172,1) 0%, rgba(253,45,140,0.9904534606205251) 100%);
    flex: 2;
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    color: white;
}
.top-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.right {
    background: white;
    flex: 3;
    border-radius: 15px;
}

.fa-globe-americas {
    position: absolute;
    opacity: .2;
    font-size: 280px;
    color: rgb(255, 255, 255);
    top: 22rem;
    left: 4rem;
}
.left h2 {
    font-family: 'Pacifico', cursive;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    background: rgb(46, 144, 255);
    font-weight: 700;
}
h3 {
    position: absolute;
    top: 32rem;
    left: 1rem;
    letter-spacing: .1rem;
}